{% extends 'layout.html' %}
{% block content %}
     <h1>About PyLog</h1>
     <div class="content-section" style="text-align:center;">
       <p>

           <strong>PyLog </strong> is an open python blogging website designed for those who
           love to code in python.If you love python and want to enhance your
           pyhton knowledge then I am sure you will feel <strong>PyLog </strong> as your second home.
        </p>
        <p>
         Our main goal is to make this website python oriented so feel free to post
         concepts,problems/errors and their solution and technologies related to Python.

         Our moto is "Learn Together and  grow Together"


        </p>
        <p>
         So without wasting time <strong>Join Today</strong> and start contributing.

        </p>
        <span style="text-decoration:underline;">Contact us at-pylognoreply@gmail.com</span><br><br><br>

        <span class="text-muted">Feel free to  share <strong>PyLog </strong> :-"Larger the network easier the solution" </span>

     </div>

{% endblock content %}
